:root{
    /*Color*/
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --netflix-color:#f8361c;
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;

    /*Size*/
    --padding-small:5px;
    --padding-medium: 10px;
    --padding-large:20px;

    /*Font Size*/
    --font-large:21px;
    --font-medium:15px;
    --font-small:13px;
    --font-micro:10px;

    --radius: 3px;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

button {
    border: none;
}

body{
    background-image: linear-gradient(
        -45deg ,
        rgba(20, 20, 20, 0) 5%,
        rgba(20, 20, 20, 0.25) 10%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      ), url(Image/main.jpg);
}

.logo{
    color: var(--netflix-color);
    font-size: 40px;
    font-weight: bolder;
}

.header{ 
    display: flex;
    justify-content: space-between;
    padding: var(--padding-large);
}

.element{
    padding: 10%;
    color: white;
   
    
}
.element > h1{
    font-size: 50px;
}
.element > h3{
    font-weight: normal;
}

.temp1,.temp2{
    margin-top: 10px;
    float: left;
}
.startBtn {
    background-color: var(--netflix-color);
    color: white;
    font-size: var(--font-large);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--radius);
    margin-top: 10px;
    height: 50px;
    margin: 0px;
    margin-left: 7px;
}
.emailInput{
    width: 400px;
    height: 52px;
    border-radius: 5px;
    background-color: black;
    color: var(--white-color);
    font-size: var(--font-medium);
    padding-left: var(--padding-small);
}
.emailInput2{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: #132144;
    color: var(--white-color);
    font-size: var(--font-medium);
    padding-left: var(--padding-small);
    border-color: green;
    
}
.email > h3{
    color: white;
    font-weight: normal;
}


.logIn{
    background-color:var(--netflix-color);
    color: white;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--radius);
}
.language{
    font-size: 15px;
    border-radius: 3px;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
    color: var(--white-color);
}

.fa-solid{
    color:white;
}

.howto{
    padding: 3%;
    padding-bottom: 0px;
}

table{
    border-spacing:15px ;
}

.howto1,.howto2,.howto3,.howto4{
    padding: 3%;
    padding-bottom: 40px;
    padding-top: 40px;
    background: 
    linear-gradient(
    to left top,
    #960c24, #800c28,#6b0d2c,
    #100e3e,#210e3b,#010c3f,
    #160f3e,#160f3e);
    color: white;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}

.enjoyOn,.watchEverywhere,.kids,.download{
    width: 70%;
    height:auto;
    margin: 0 auto;
    display: flex;
}

.QNA,.email,.link,.etc{
    background: #00081d;
}

.QNA,.email,.link,.etc{
    color: white;
    padding: 10%;

    
}
ul{
    list-style:none;
}
.QNA{
    padding-top: 5%;
    padding-bottom: 15px;
}
.QNA>h1{
    font-size: 40px;
    padding-bottom: 5px;
}

.QButton{
    color: white;
    font-size: 20px;
    padding: 20px 50px 20px 10px;
    width: 100%;
    margin-top: 10px;
    background-color: #132144;
    border: none;
    text-align: start;
    position: relative;
}
.icons {
    position: absolute;
    top:50%; right: 20px;
    font-size: 35px;
    transform: translate(0, -50%);
}

.xmark {
    display: none;
}
.plus {
    display: block;
} 
.answer{
    display: none;
    overflow: hidden;
    color: white;
    font-size: 20px;
    padding: 20px 50px 20px 10px;
    width: 100%;
    margin-top: 1px;
    background-color: #132144;
    text-align: start;
    >a{
        color: white;
        font-size: 20px;
    }
}


.QButton:hover{
    background-color: #213261;
    transition: 0.5s;
}

.email{
    padding-top: 30px;
    padding-bottom: 0px;
}
.etc{
    padding-top: 0px;
}
.link{
    padding-bottom: 30px;
}

.link>p{
    font-size: var(--font-medium);
    color: rgb(167, 166, 166);
    padding-bottom:50px;
}

a{
    font-size: var(--font-medium);
    color: rgb(167, 166, 166);
    padding-bottom:50px;
}

.etc{
    font-size: var(--font-small);
    color: rgb(167, 166, 166);
    padding-bottom:50px;
}

.etc > p{
    padding-top: 40px;
    padding-bottom: 40px;
}

.table{
    border-collapse: collapse;
}