.main{
    height: auto; 
    min-height: 100px; 
    width: 500px;
    overflow: auto;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    width: 30px;
    height: 30px;
    
}
.header{
    background-color: black;
    height: 50px;
}
h3{
    padding-top: 10px;
    color:white;  
}
.iphone{
    width:500px;
    height: 200px;
}

.title{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.subscribe>p{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.temp{
    margin-top:0px;
    font-size: 5px;
    color: gray;
}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 70%;
    padding-right: 5px;
    overflow: hidden;
    float:left;
    
}
h5{
    margin:0px;
    margin-bottom: 5px;
    color: gray;
}
#sub{
    color: gray;
    float:right;
    font-size: 11px;
    font-weight: bold;
    /* margin-bottom: 100px; */
}
.subscribe>hr{
    
}
.thumbnail{
    float:left;
    width:150px;
    height: 100px;
    margin-right:10px;
}
.lyric{
    font-size: 15px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.video > div{
    margin-bottom: 30px;
}
.mini{
    color:gray;
    font-size: 7px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
